* {
  margin: 0;
  padding: 0;
}
#fotka {
  margin-top: 15px;
  margin-left: 150px;
}

nav {
  background-color: blue;
  height: 100px;
}
.sia {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin-right: 40px;
  margin-top: -45px;
}
.sia a {
  all: unset;
  cursor: pointer;
  color: white;
}
#li1 > a {
  border-bottom: 1px solid;
  border-color: white;
  padding-bottom: 10px;
}
#li6 a {
  border: 1px solid white;
  background-color: white;
  color: black;
  padding: 10px 30px;
}

.mt-kont {
  display: flex;
  position: absolute;
  top: 55%;
  left: 8.5%;
  flex-direction: row;
  gap: 100px;
}
main h2 {
  position: absolute;
  top: 50%;
  left: 8.5%;
  margin-top: -40px;
}
.mt-kont div h3 {
  padding-top: 40px;
}

#pir {
  border: 5px solid #f9f9f9;
  padding: 25px 25px;
  padding-top: 5px;
  background-color: #f9f9f9;
}

#meo {
  border: 5px solid white;
  padding: 25px 25px;
  padding-top: 5px;
  background-color: blue;
}
#mesa {
  border: 5px solid #f9f9f9;
  padding: 25px 25px;
  padding-top: 5px;
  background-color: #f9f9f9;
}
.qv-sat {
  margin-bottom: 15px;
}
.burti {
  display: flex;
  justify-content: right;
  position: absolute;
  gap: 10px;
  top: 44%;
  left: 90%;
}
